.error_message{
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 3;
    padding: 1% 3%;
    color: white;
    transition: all 1.2s;
    transform: translateX(101%);
  }